{% extends "layout.html" %}

{% block title %}
Apology
{% endblock %}

{% block main %}
<script src="/static/script2.js"></script>
<div class="container" id="weatherContainer">
    <div class="row align-items-center">
        <img src="/static/placeholder.png" id="celestialBody" aria-hidden="true" width='80' height="70"></img>
        <h3 id="temp">
            </h2>
            <h3 id="celcius">
                </h2>
    </div>
    <div class="row align-items-center">
        <h4 id="city">
            </h3>
    </div>
</div>

<main class="container-fluid" style="z-index: 99; position: relative;">
    <div class="row align-items-center">
        <div class="col-md-5 order-2 order-md-1">
            <div class="row mt-2">
                <div class="col-12">
                    <h2>Python Project</h2>
                    <ul class="list-group">
                        <li class="list-group-item">Shantanu Shaw</li>
                        <li class="list-group-item">BCA/40505/19</li>
                    </ul>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12">
                    <ul class="list-group">
                        <li class="list-group-item">Imran Asharaf</li>
                        <li class="list-group-item">BCA/40507/19</li>
                    </ul>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12">
                    <ul class="list-group ">
                        <li class="list-group-item">Jahanzeb Shayan Eqbal</li>
                        <li class="list-group-item">BCA/40542/19</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-7 col-sm-12 order-1 order-md-2 ">
            <img src="/static/—Pngtree—beautiful yellow note_4583281.png" class="img-fluid" alt="notes png image">
            <h3 class="mt-n4 mb-4">Notes app with CRUD functionality</h3>
        </div>
    </div>
</main>
{% endblock %}