{% extends "layout.html" %}

{% block title %}
Log In
{% endblock %}

{% block main %}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <div class="container" id="noteinfo">
                <div class="row">
                    <div class="col-12">
                        <p style="font-size: large;">{{fdata['title']}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <P>Date added</p>
                        <p>{{fdata['creation']}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <P>Last Edited</p>
                        <p>{{fdata['edited']}}</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-9 col-sm-12">
            <form action="#" method="post">

                <div class="form-group leftText">
                    <label for="noteTitle">Title</label>
                    <input class="form-control" name="noteTitle" type="text" autocomplete="off"
                        value="{{fdata['title']}}">
                </div>

                <div class="form-group leftText">
                    <label for="NoteContent">Note</label>
                    <textarea class="form-control" name="NoteContent" rows="8" type="text">{{fdata['note']}}</textarea>
                </div>

                <button class="btn btn-primary" type="submit" name="noteid_edit" value="{{ fdata['noteid'] }}">Edit</button>
            </form>
        </div>
    </div>
</div>



{% endblock %}